* {
  font-family: "Catamaran", sans-serif;
  border: none;
  list-style: none;
  margin: 0;
}

header h1,
h3,
h4 {
  margin-left: 10px;
}
header h4 {
  color: #cecac3;
}

.carouselCardsProduct {
  background-color: #ededef;
  display: flex;
  margin-left: 0;
}

.cardIconProduct {
  background: #ffff;
  width: 13vh;
  height: 16vh;
  margin: 1.6vh 1.3vh;
  border-radius: 13px;
  filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.2));
}

.carouselCardsProduct h5 {
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

div {
  padding: 5px;
}

.logo {
  width: 22vw;
  height: 12vw;
  justify-self: center;
}

.iconProduct {
  margin-top: 10px;
  max-width: 8vh;
}

h1 {
  font-size: 40px;
}

h4 {
  color: #000000;
}

.icon {
  height: 5vh;
  width: 4.5vh;
}

.allProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buySection {
  display: flex;
  justify-content: center;
}

.buyButton {
  background: #ff6900;
  width: 8vh;
  height: 8vh;
  border-radius: 50px;
}

.arrowButton {
  border-color: none;
  border-radius: 8px;
  width: 25px;
  height: 25px;
}

.arrowButton .iconify {
  width: 10px;
  height: 10px;
}

.unitsButton {
  border-color: none;
  width: 25px;
  height: 25px;
  padding: 4px;
}

.unitsButton .iconify {
  width: 15px;
  height: 15px;
  color: #cecac3;
}

.subtractButton {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: white;
}

.addButton {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: white;
}

.unitsInput {
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #ededef;
}

.sendButton {
  width: 300px;
  height: 30px;
  border-radius: 7px;
  background-color: white;
  font-size: 20px;
}

.sendButton:hover {
  filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.2));
}

.inputUserName {
  width: 300px;
  height: 30px;
  border-radius: 7px;
  background-color: white;
  filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.2));
  padding-left: 10px;
}

.image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}

.nameContainer {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  width: 350px;
  padding: 20px;
  padding-left: 0px;
  padding-right: 35px;
  border-radius: 80px;
  border: 0.05px solid #cecac3;
  filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.2));
}

.nameContainer .inputUserName {
  position: absolute;
  z-index: -1;
}

.orderContainer {
  background-color: #ff6900;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 250px;
}

.infoOrder {
  display: flex;
  justify-content: space-around;
  color: white;
}

.infoOrder ul {
  padding: 0;
}

.cardProduct {
  background-color: #ededef;
  height: 160px;
  width: 500px;
  display: flex;
  justify-items: start;
  align-items: center;
  text-align: start;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 20px;
  filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.2));
}
.infoProduct {
  margin-left: 10px;
}

.productPrice {
  color: #ff6900;
  font-size: 25px;
  padding-top: 0;
  margin: 0;
}

.productTitle {
  /* color: #fcd733; */
  color: black;
  font-size: 20px;
  padding-top: 0;
  margin: 0;
}

.infoProduct h4 {
  color: gray;
  margin: 0;
}

.footer {
  height: 40px;
  background-color: #ededef;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 320px) {
  .carouselCardsProduct {
    width: 100%;
  }
  .cardIconProduct {
    width: 13vh;
    height: 16vh;
  }
  .cardProduct {
    height: 80px;
    width: 260px;

    padding: 10px;
    border-radius: 20px;
  }
  .image {
    width: 90px;
    height: 90px;
  }
  .infoProduct {
    margin-left: 10px;
  }
  .productPrice {
    font-size: 11px;
    padding-top: 0;
    margin: 0;
  }
  .productTitle {
    font-size: 11px;
    padding-top: 0;
    margin: 0;
  }
  .infoProduct h4 {
    font-size: 7px;
  }
  .unitsButton {
    width: 20px;
    height: 20px;
    padding: 2px;
  }
  .unitsInput {
    width: 20px;
    height: 10px;
  }
  .unitsButton .iconify {
    width: 12px;
    height: 12px;
  }
  .footer {
    height: 30px;
  }
}
